.analytics_container{
    display: flex;
    gap: 2rem;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    font-size: 1.1em;
}

.analytics_container > section{
    padding: 2rem;

    display: flex;
    flex-direction: column;
    border: 1px solid var(--bg-color-alt);
    border-radius: 8px;
    width: 600px;
    gap: 1rem;
}

.analytics_container > section > ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.analytics_container > section > ul > li{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.total_stats_container{
    display: flex;
    flex-direction: column;
}

.problem_results{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 4rem 8rem;
}

.problem_result_container{
    /* padding: 6rem; */
    display: flex;
    flex-direction: column;
    gap: 4rem;
    width: 60%;
    height: auto;
}

.problem_result_objectives{
    display: flex;
    padding: 1rem;
    flex-direction: column;
    background: linear-gradient(90deg, var(--main-color), var(--main-color-shade));
    border-radius: 12px;
    border: none;
    box-shadow: -2px 4px 20px 0px rgba(0,0,0,0.7);
}

.problem_result_objectives > div{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.vehicles_list{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background: linear-gradient(90deg, var(--selection-color-alt-shade), var(--selection-color-alt));
    color: var(--main-color);
    padding: 1rem;
    border-radius: 12px 12px 0px 0px;
    box-shadow: 0px 6px 20px rgba(0,0,0,0.7);
    width: 100%;
}

.vehicles_list p{
    font-weight: 500;
}



.stops_list{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.stops_list > li > p{
    font-weight: 600;
}

.problem_analytics_container{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-size: 1.1em;
}

.problem_analytics_header{
    display: flex;
    align-items: flex-end;
    gap: 0.2rem;
}

.problem_analytics_data{
    border: 1px solid white;
    padding: 2rem 1rem;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

