.footer_container{
    background-color: var(--main-color);
    width: 100%;
    height: 140px;
    display: flex;
    margin-top: 4rem;
    justify-content: space-between;
    align-items: flex-start;
    padding: 1rem 4rem;
    font-size: 0.8em;
    color: white;
    position: absolute;
    bottom: 0;
    z-index: 8;
}



.contributors_container{
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: hidden;
    height: 100%;
    gap: 1rem;
}
