.btn{
    padding: 0.5rem;
    border: none;
    border-radius: 8px;
    color: white;
    background-color: var(--main-color);
    box-shadow: -2px 2px 2px 0px black;
    transition: all ease 0.2s;
    border: 1px solid black;
}

.btn:hover{
    transform: scale(1.02);
    cursor: pointer;
}

.btn:active{
    transform: scale(0.98);
}


.input_container{
    display: flex;
    width: 100%;
    height: 400px;
    flex-direction: column;
    gap: 1rem;
    border: 1px solid white;
    border-radius: 20px;
    padding: 1rem;
}


/* list of the metadata or inputs */
.input_items{
    list-style: none;
    display: flex;
    flex-direction: column;    
}

/* items or values of a specific input record */
.input_items li{
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    align-items: stretch;
    /* border: 1px solid white;     */
}

.input_items li p{
    position: relative;
}

.input_items li p::after{
    content: '';
    background-color: red;
    position: absolute;
    width: 100%;
    height: 2px;
}



.submit_container{
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow-x: clip;
    justify-content: center;
    align-self: center;
    padding: 4rem;
}

.submit_container > section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inputs_list{
    display: flex;   
    justify-content: space-around;
    align-items: center;
    list-style: none;
    z-index: 6;
    width: 50%;
    border: 1px solid rgba(255,255,255,0.4);
    border-radius: 16px;
    background: linear-gradient(145deg, var(--bg-color-alt), transparent);
    /* backdrop-filter: blur(100px); */
    padding: 3rem;
    box-shadow: 0px 0px 10px 0px rgba(255,255,255,0.3);
    margin: 1rem 0rem;
    flex-wrap: wrap;
}

.inputs_list > li{
    display: flex;
    flex-direction: column;
}

.inputs_list > li > label{
    font-size: 1.1em;
}

.inputs_list > li > input{
    padding: 0.2rem;
    border-radius: 8px;
    border: none;
}

.solver_select{
    width: 50%;
    margin: 0 auto 2rem auto;
    padding: 0.5rem;
    border-radius: 12px;
    color: white;
    background-color: var(--main-color);
    border: none;
    box-shadow: 0px 0px 10px 0px rgba(255,255,255, 0.4);
    z-index: 6;
}

.submit_buttons{
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    gap: 4rem;
    z-index: 6;
}

.drag-drop_container{
    background: var(--main-color);
    border-radius: 8px;
    width: 360px;
    height: 100px;
    padding: 2rem;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    margin: 2rem 0;
    border: 2px solid var(--selection-color-alt);
    box-shadow: -20px 4px 100px 0px rgba(255,255,255,0.25);
    
}

.filename{
    color: rgb(32, 214, 32);
    text-align: center;
}

.metadata{
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 6;
    padding: 2rem;
    gap: 2rem;
}

.metadata > div{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.metadata > div > input{
    padding: 0.2rem;
    border: none;
    border-radius: 8px;
}

.solver_container{
    margin-bottom: 1rem;
}

.month_container{
    margin-bottom: 1rem;
}